include versionate.py
include pypop/version
include pypop/utils/pop_logo.npy
recursive-include pypop/examples *
recursive-include pypop/cfgs *
recursive-include pypop/cutters *
recursive-include pypop/filters *
global-exclude */.ipynb_checkpoints/*
global-exclude */*.bincache
